<app-search></app-search>


<section id="reiews" class="bg-light">
  <div class="containen-lg">


    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="list-group">
          <div class="list-group-item py-3">

            <img src="../../assets/img/phones/motorola-xoom-with-wi-fi.0.jpg" class="rounded float-left" alt="...">
            <a href="#">Motorola XOOM</a>
            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
          </div>

          <div class="list-group-item py-3">
            <img src="../../assets/img/phones/samsung-gem.0.jpg" class="rounded float-left" alt="...">
            <a href="#">Samsung Gem</a>
            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. </p>
          </div>

          <div class="list-group-item py-3">
            <img src="../../assets/img/phones/dell-streak-7.3.jpg" class="rounded float-left" alt="...">
            <a href="#">Dell Streak 7</a>
            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. </p>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
